body{
    background: rgb(171, 21, 171);
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 10px; */
  background: rgb(135deg, #71b7e6, #9b59b6);
}
.contained555{
  margin-top: 400px;  
  max-width: 800px;
  width: 100%;
  background-color: #fff;
  padding: 30px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}
.dim555{
  border: .5px solid red;
   border-radius: 50%;
    background: red;
    font-size: 20px;
  cursor: pointer;
}
.container555 .title555{
  font-size: 25px;
  font-weight: 500;
  position: relative;
  margin-bottom: 10px;
}
.titles555{
  font-size: 20px;
  font-weight: 500;
  position: relative;
}
.delete555{
    display: flex;
    gap: 40px;
    margin-top: 30px;
    background: #F78CA2;
    padding: 15px;
    border-radius: 20px;
    opacity: 85%;
}


.contained555 .title555::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.content555 form .user-details555{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details555 .input-box555{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .input-box555 span.details555{
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details555 .input-box555 input{
  height: 45px;
  width: 100%;
  outline: none;
  font-size: 16px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}
.user-details555 .input-box555 input:focus,
.user-details555 .input-box555 input:valid{
  border-color: #9b59b6;
}
 form .gender-details555 .gender-title555{
  font-size: 20px;
  font-weight: 500;
 }
 form .category555{
   display: flex;
   width: 80%;
   margin: 14px 0 ;
   justify-content: space-between;
 }
 form .category555 label{
   display: flex;
   align-items: center;
   cursor: pointer;
 }
 form .category555 label .dot555{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}
 #dot-1:checked ~ .category555 label .one555,
 #dot-2:checked ~ .category555 label .two555,
 #dot-3:checked ~ .category555 label .three555{
   background: #9b59b6;
   border-color: #d9d9d9;
 }
 form input[type="radio"]{
   display: none;
 }
 .otp555{
  cursor: pointer; 
  color: blue; 
 }
 .huru555{
  display:flex;
  justify-content:center;
  align-items:center;
  gap:20px;
 }
 form .button555{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 45px;
   margin: 35px 0
 }
 form .button555 input{
   align-items: center;
   height: 100%;
   width: 200px;
   border-radius: 5px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(135deg, #71b7e6, #9b59b6);
 }
 form .button555 input:hover{
  /* transform: scale(0.99); */
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
  }
 @media(max-width: 584px){
 .contained555{
  max-width: 100%;
}
form .user-details555 .input-box555{
    margin-bottom: 15px;
    width: 100%;
  }
  form .category555{
    width: 100%;
  }
  .content555 form .user-details555{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details555::-webkit-scrollbar{
    width: 5px;
  }
  }
  @media(max-width: 459px){
  .contained555 .content555 .category555{
    flex-direction: column;
  }
}