.my_profile555{
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 440px; */
    height: 50px;
    position: relative;   
}
.my_name555{
    margin-right: 800px;
    font-weight: bold;
    font-size: 25px;
}
.logo555{
    font-Size: 22px;
    cursor: pointer;
}
.hi555{
    display: flex;
     gap: 10px;
}
.image_style555{
    width:100px;
    height: 100px;
    border-radius: 50%;
}
.profile_card555{
    display:flex;
    gap:25px;
}

.carding555{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    background: #FFA1F5;
    border-radius: 25px;
    /* bottom: 200px; */
    /* margin-bottom: 200px; */
}
.login_name555{
    font-Weight: bold;
    margin-Bottom: 10px;
}
.email_name555{
    margin-Bottom: 10px;
}
.button555{
   height: 45px;
   margin: 35px 0;
   margin-Bottom: 10px;
}
.button555 input{
    height: 100%;
    width: 150px;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}
.button555 input:hover{
    /* transform: scale(0.99); */
    background: linear-gradient(-135deg, #71b7e6, #9b59b6);
    }
